* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2 !important;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
    background-color: #F9F9F9;
}

html {
    scroll-padding-top: 4.5rem;
}

@media (min-width: 1024px) {
    html {
        scroll-padding-top: 5.5rem;
    }
}

@media (min-width: 1536px) {
    html {
        scroll-padding-top: 4.25rem;
    }
}

#__nuxt {
    position: relative;
}

/* Input number */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Scrollbar */
.custom-scrollbar {
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 3px;
}

/* Animated Underline */
.underline-animated {
    position: relative;
    display: inline-block;
}

.underline-animated::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.underline-animated:hover::after {
    width: 100%;
}